<div>
    <br>
    <mat-card>
        <ng-container *ngFor="let task of task">
            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Client's Name</h3>
                    <p>{{ task.client_name }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="6" [style.background]="'lightblue'">
                    <mat-progress-spinner [diameter]="300" [value]="task.value_progress" mode="determinate"></mat-progress-spinner>
                    <p> The task are in % {{task.value_progress}}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Cellphone's Name: </h3>
                    <p>{{ task.phone_name }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Components: </h3>
                    <p>{{ task.components_to_use }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Problem</h3><br>
                    <p>{{ task.problem }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Delivery Date: </h3>
                    <p>{{ task.delivery_day }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <h3>Income: </h3>
                    <p>S/ {{ task.income }}</p>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button mat-raised-button style="margin-right:20px" routerLink="/task">Return</button>
                </mat-grid-tile>
            </mat-grid-list>
        </ng-container>
    </mat-card>
</div>
