
.example-card {
  padding: 30px 20px 30px 20px;
  background-color: #448AFF;
  margin-bottom: 10px;
  border-radius: 0;
  border-color: black;
  border-width: 2px;
}



.container{
  padding: 10px 30px 30px 40px;
}

.card{
  display: flex;
}

.title,.sub-title{
  padding-top: 20px;
}

.title {
  padding-left: 40px;
}
.content{
  min-width: 200px;
  padding-right: 30px;
  padding-left: 20px;
}

.tech{
  padding: 10px;
}

.localization {
  padding-right: 5%;
  padding-left: 40px;
  padding-top:20px;
}

#header {
  min-width: 300px;
}

.yellowStar {
  color:yellow;
}

.stars {
  display: block;
  padding: 5% 5%;
}

.circle{
  color: #448AFF;
  padding-left: 50%;
  padding-top: 5%;
}

.comments{
  padding-left: 60px;
  padding-right: 60px;
}

.review{
  background-color: #72B4EF;
  padding-top: 5%;
  padding-bottom: 5%;
}

.googleApi {
  height: 80%;
}

.about-tech-card{
  padding: 5% 10%;
  margin-top: 2%;
}

.container img.techPhoto{
  height: 220px;
}

.request{
  padding: 30px;
}

.name{
  padding-right: 230px;
}

@media (max-width: 768px){
  .card {
    display: block;
  }
}

