<h1 class="title">
  <mat-icon>build</mat-icon> Edit Profile
</h1>

<form [formGroup]="formEdit" (ngSubmit)="updateProfile()">
  <div class="container">

    <!-- Tarjeta de Información General -->
    <mat-card class="profile-card">
      <mat-card-header>
        <mat-card-title>Profile Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="info-section">
          <!-- Nombre -->
          <div class="input-group">
            <mat-label for="name">Name: </mat-label>
            <input matInput type="text" id="name" formControlName="name">
          </div>

          <!-- Apellido -->
          <div class="input-group">
            <mat-label for="lastName">Last Name: </mat-label>
            <input matInput type="text" id="lastName" formControlName="lastName">
          </div>

          <!-- Experiencia -->
          <div class="input-group">
            <mat-label for="experience">Experience: </mat-label>
            <input matInput type="text" id="experience" formControlName="experience">
          </div>

          <!-- Dirección -->
          <div class="input-group">
            <mat-label for="address">Address: </mat-label>
            <input matInput type="text" id="address" formControlName="address">
          </div>

          <!-- Descripción -->
          <div class="input-group">
            <mat-label for="description">Description: </mat-label>
            <textarea matInput id="description" formControlName="description"></textarea>
          </div>

          <!-- Foto -->
          <div class="input-group">
            <mat-label for="photo">Photo URL: </mat-label>
            <input matInput type="text" id="photo" formControlName="photo">
          </div>

          <!-- Precio de Consulta -->
          <div class="input-group">
            <mat-label for="price">Consultation Price (S/): </mat-label>
            <input matInput type="number" id="price" formControlName="price">
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <!-- Botón de Actualización -->
    <div class="request">
      <button mat-raised-button color="primary" [disabled]="formEdit.invalid">Update Profile</button>
    </div>

  </div>
</form>
