html {
  font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #72B4EF;
  padding: 1rem 2rem;
  text-align: center;
}

header span{
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

