.example-card {
  padding: 30px 20px 30px 20px;
  background-color: #448AFF;
  margin-bottom: 10px;
  border-radius: 0;
  border-color: black;
  border-width: 2px;
}

.container{
  padding: 10px 30px 30px 40px;
}

.card{
  display: flex;
}

.title{
  padding-left: 40px;
  padding-top: 20px;
}
.content{
  min-width: 200px;
  padding-right: 30px;
  padding-left: 20px;
}

.tech{
  padding: 10px;
}

#header {
  min-width: 300px;
}

.yellowStar {
  color:yellow;
}

.circle{
  color: #448AFF;
  position: absolute;
  left: 50%;
}

@media (max-width: 768px){
  .card {
    display: block;
  }
}


